body {
    background-color: linen;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
}

#content {
    display: inline-block;
}

h1 {
    color: maroon;
    margin-left: 20px;
}

p {
	margin-left: 5px;
}

#slots {
    display: inline-block;
}

